#About{
    height: 500px;
    min-height: 500px;
    max-height: fit-content;
}
.about-parent{
    display: flex;
    height: 200px;
    min-height: 200px;
    max-height: fit-content;
    /* border: 1px solid red; */
}
.child-1-about{
    height: 100%;
    flex: 20%;
    /* border: 1px solid red; */
}
.about-bg-logo img{
    margin: 12px 0 12px 0;
    display: none;
}
.child-2-about{
    height: 100%;
    display: flex;
    flex: 80%;
    /* border: 1px solid red; */
}
.child-1-about,.child-21-about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.child-21-about{
    flex: 75%;
    /* border: 1px solid red; */
    text-align: justify;
    margin: 4px;
    padding: 12px;
}
.child-22-about{
    flex: 25%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.child-22-bg{
    height: 100%;
    aspect-ratio: 1;
    background-image: url(image/sbjaytiLogo.png);
    background-size: cover;
}
/* for text translation  */
.translated-text {
    display: none;
    margin-top: 10px;
}
.translation-btn {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

/* seed distribution */
.paper {
    color: white;
    font-size: 1em;
    width: 60%;
    padding: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
    background: #58a;
  }
  
  /* 60-degree folded corner */
  .sharp-fold {
    position: relative;
    background: linear-gradient(-150deg, transparent 1.5em, #58a 0);
    border-radius: .5em;
  }
  
  .sharp-fold::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.2) 0, rgba(0,0,0,.4)) no-repeat 100% 0;
    width: 1.73em;
    height: 3em;
    transform: translateY(-1.3em) rotate(-30deg);
    transform-origin: bottom right;
    border-bottom-left-radius: inherit;
    box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.15);
  }
