
@media screen and (max-width: 600px){
    .parent{
        flex-direction: column;
        height: 80vh;
    }
    .child-1{
        flex: 45% !important;
    }
    .child-2{
        flex: 55% !important;
    }
    .child-2{
        border-radius: 50% 0% 0% 50% !important;
        border-style: hidden hidden hidden double !important;
        border: 5px #000 !important;
        background-color: whitesmoke;
    }
    .child-21{
        width: 100%;
        height: 99%;
        margin: 3px 0 0 2px;
        border-radius: 50% 0% 0% 50%;
        border-style: hidden hidden hidden double;
    }
    .glow{
        font-size: 24px;
    }
    .jaf{
        font-size: 24px !important;
    }
}
@media  screen and (min-width:601px) and (max-width:1080px) {
    .parent{
        flex-direction: column;
        height: 90vh;
    }
    .child-1{
        flex: 40% !important;
    }
    .child-2{
        flex: 60% !important;
    }
    .child-2{
        border-radius: 50% 0% 0% 50% !important;
        border-style: hidden hidden hidden double !important;
        border: 5px #000 !important;
        background-color: whitesmoke;
    }
    .child-21{
        width: 100%;
        height: 99%;
        margin: 3px 0 0 2px;
        border-radius: 50% 0% 0% 50%;
        border-style: hidden hidden hidden double;
    }
    .glow{
        font-size: 34px;
    }
    .jaf-1{
        font-size: 50px !important;
    }
    .navbar-brand>span{
        font-size: 34px !important;
    }
}
